/FP02_controlStatement/nbproject/private/
/FP02_controlStatement/build/
/Workshops/unit1/WS03operactors/BasicOperations/nbproject/private/
/Workshops/unit1/WS03operactors/BasicOperations/build/
/Assignments/Unit 1/HW02/ PERIMETER OF A CIRCLE/nbproject/private/
/Assignments/Unit 1/HW02/ PERIMETER OF A TRAPEZE/nbproject/private/
/Assignments/Unit 1/HW02/ AREA OF A TRAPEZE/nbproject/private/
/Assignments/Unit 1/HW02/ SIDES OF A TRAPEZE/nbproject/private/
/Assignments/Unit 1/HW02/ PERIMETER OF A TRAPEZE/build/
/Assignments/Unit 1/HW02/ AREA OF A TRAPEZE/build/
/Assignments/Unit 1/HW02/ SIDES OF A TRAPEZE/build/
/Workshops/unit1/WS04 Logical Operators/Logical Operators/nbproject/private/
/Workshops/unit1/WS04 Logical Operators/Logical Operators/build/
/Workshops/unit1/WS05lteration/nbproject/private/
/Workshops/unit1/FP02_controlStatement/build/
/Workshops/unit1/FP02_controlStatement/nbproject/private/
/Workshops/unit1/WS05lteration/build/
/Assignments/Unit 1/HW03lterations/nbproject/private/
/Assignments/Unit 1/HW03lterations/build/
/Assignments/Unit 1/HW03lterations/While/nbproject/private/
/Assignments/Unit 1/HW03lterations/While/build/
/Assignments/Unit 1/HW03lterations/For/nbproject/private/
/Assignments/Unit 1/HW03lterations/For/build/
/Assignments/Unit 1/HW03lterations/Example/nbproject/private/
/Assignments/Unit 1/HW03lterations/Example/build/
/Assignments/Unit 1/HW03lterations/example/nbproject/private/
/Assignments/Unit 1/HW03lterations/example/build/
/Workshops/unit1/WS07Menus/nbproject/private/
/Workshops/unit1/WS07Menus/build/
/Assignments/Unit 1/HW04Menus/HW04Menus/nbproject/private/
/Assignments/Unit 1/HW04Menus/HW04Menus/build/
/Exams/Unit 1/Chicaisa Marco Q1.java/nbproject/private/
/Exams/Unit 1/Chicaisa Marco Q1.java/build/
/Workshops/Unit2/Correction/nbproject/private/
/Workshops/Unit2/WS08Correction/nbproject/private/
/Workshops/Unit2/WS08Correction/build/
/Assignments/Unit 2/HW08-FactorialNumber/nbproject/private/
/Assignments/Unit 2/HW08-FactorialNumber/build/
/Assignments/Unit 2/JavaApplication29/nbproject/private/
/Assignments/Unit 2/HW09-EmbeddedStructures/nbproject/private/
/Assignments/Unit 2/HW09-EmbeddedStructures/build/
/Workshops/Unit2/WS10Functions/nbproject/private/
/Workshops/Unit2/WS10Functions/build/
/Assignments/Unit 2/HW10-Functions/nbproject/private/
/Assignments/Unit 2/HW10-Functions/build/
/Workshops/Unit2/WS11Functions and recursion/nbproject/private/
/Workshops/Unit2/WS11Functions and recursion/build/
/Assignments/Unit 2/HW11Recursion/nbproject/private/
/Assignments/Unit 2/HW11Recursion/build/
/Assignments/Unit 2/HW11Recursion example/nbproject/private/
/Assignments/Unit 2/HW11Recursion example/build/
/Workshops/Unit2/WS12Libraries/nbproject/private/
/Workshops/Unit2/WS12Libraries/build/
/Assignments/Unit 2/HW12-Taxes/nbproject/private/
/Assignments/Unit 2/HW12-Taxes/build/
/Workshops/Unit2/WS13-Task/nbproject/private/
/Workshops/Unit2/WS13-Task/build/
/Workshops/Unit2/WS13-Task2/nbproject/private/
/Workshops/Unit2/WS13-Task2/build/
/Workshops/Unit2/WS14Farmsimulator/nbproject/private/
/Workshops/Unit2/WS14Farmsimulator/build/
/Quizes/Quiz1/nbproject/private/
/Quizes/Quiz22-02-2021/nbproject/private/
/Quizes/Quiz22-02-2021/build/
/Quizes/Quiz22022021Arrays/nbproject/private/
/Quizes/Quiz22022021Arrays/build/
/Workshops/Unit2/WS16MatrixAddition/nbproject/private/
/Workshops/Unit2/WS16MatrixAddition/build/
/Assignments/Unit 2/HW15-MatrixOperation/nbproject/private/
/Assignments/Unit 2/HW15-MatrixOperation/build/
/Workshops/Unit2/WS17-MatrixTransposition/nbproject/private/
/Workshops/Unit2/WS17-MatrixTransposition/build/
/Exams/Unit 2/ChicaisaMQ11/nbproject/private/
/Exams/Unit 2/ChicaisaMQ11/build/
/Workshops/Unit2/WS10Functions/dist/
/Workshops/Unit3/WS21-Funtions/nbproject/private/
/Workshops/Unit3/WS21-Funtions/build/
/Workshops/Unit3/WS21-Funtions/dist/
/Workshops/Unit3/WS22Modularity/ModularCalculator/nbproject/private/
/Workshops/Unit3/WS22Modularity/ModularCalculator/build/
/Workshops/Unit3/WS23Libraries/TaxDeclarations/nbproject/private/
/Workshops/Unit3/WS23Libraries/TaxLibrary/nbproject/private/
/Workshops/Unit3/WS23Libraries/TaxLibrary/build/
/Workshops/Unit3/WS23Libraries/TaxLibrary/dist/
/Workshops/Unit3/WS23Libraries/TaxDeclarations/build/
/Assignments/Unit 3/HW17MatrixLibraries/nbproject/private/
/Assignments/Unit 3/OperationsMatrixLibraries/nbproject/private/
/Assignments/Unit 3/HW17MatrixLibraries/build/
/Assignments/Unit 3/OperationsMatrixLibraries/build/
/Assignments/Unit 3/OperationsMatrixLibraries/dist/
/Workshops/Unit3/Sorting/nbproject/private/
/Workshops/Unit3/Sorting/build/
/Assignments/Unit 3/HW18Searching/nbproject/private/
/Assignments/Unit 3/HW18Searching/build/
/Assignments/Unit 3/BinarySearching/nbproject/private/
/Assignments/Unit 3/BinarySearching/build/
/Workshops/Unit3/Contact/nbproject/private/
/Workshops/Unit3/WS25OperationsWhitStrings/Contact/build/
/Assignments/Unit 3/HW19SearchingForm/nbproject/private/
/Assignments/Unit 3/HW19SearchingForm/build/
/Workshops/Unit3/WS25OperationsWhitStrings/Sorting/nbproject/private/
/Workshops/Unit3/WS25OperationsWhitStrings/Sorting/build/
/Workshops/Unit3/WS25OperationsWhitStrings/Sorting/dist/
/Assignments/Unit 3/HW20Sort/nbproject/private/
/Assignments/Unit 3/HW20Sort/build/
/Workshops/Unit3/WS27ADT/FarmSystem/nbproject/private/
/Workshops/Unit3/WS27ADT/FarmSystem/build/
/Exams/Nueva Carpeta/ExamFPFreigth/nbproject/private/
/Exams/Nueva Carpeta/ExamFPFreigth/build/
/Exams/Unit3/ExamFPFreigth/dist/