/FP02_controlStatement/nbproject/private/
/FP02_controlStatement/build/
/Workshops/unit1/WS03operactors/BasicOperations/nbproject/private/
/Workshops/unit1/WS03operactors/BasicOperations/build/
/Assignments/Unit 1/HW02/ PERIMETER OF A CIRCLE/nbproject/private/
/Assignments/Unit 1/HW02/ PERIMETER OF A TRAPEZE/nbproject/private/
/Assignments/Unit 1/HW02/ AREA OF A TRAPEZE/nbproject/private/
/Assignments/Unit 1/HW02/ SIDES OF A TRAPEZE/nbproject/private/
/Assignments/Unit 1/HW02/ PERIMETER OF A TRAPEZE/build/
/Assignments/Unit 1/HW02/ AREA OF A TRAPEZE/build/
/Assignments/Unit 1/HW02/ SIDES OF A TRAPEZE/build/
/Workshops/unit1/WS04 Logical Operators/Logical Operators/nbproject/private/
/Workshops/unit1/WS04 Logical Operators/Logical Operators/build/
/Workshops/unit1/WS05lteration/nbproject/private/
/Workshops/unit1/FP02_controlStatement/build/
/Workshops/unit1/FP02_controlStatement/nbproject/private/
/Workshops/unit1/WS05lteration/build/
/Assignments/Unit 1/HW03lterations/nbproject/private/
/Assignments/Unit 1/HW03lterations/build/
/Assignments/Unit 1/HW03lterations/While/nbproject/private/
/Assignments/Unit 1/HW03lterations/While/build/
/Assignments/Unit 1/HW03lterations/For/nbproject/private/
/Assignments/Unit 1/HW03lterations/For/build/
/Assignments/Unit 1/HW03lterations/Example/nbproject/private/
/Assignments/Unit 1/HW03lterations/Example/build/
/Assignments/Unit 1/HW03lterations/example/nbproject/private/
/Assignments/Unit 1/HW03lterations/example/build/